#boxone		{
			width: 100%;
			background-color: blue;
			height: 200px;
			text-align: center;
			}

#boxtwo		{
			background-color: white;
			margin-left: 10px;
			width: 45%;
			}

#boxthree	{
			float: right;
			width: 45%;
			margin-right: 10px;
			background-color: yellow;
			}

.Photos		{
			width: 200px;
			}

#boxfour	{
			background-color: green;
			color: white;
			clear: both;
			overflow: auto;
			}
			
#leftbox	{
			float: left;
			width: 25%;
			height: 450px;
			background-color: red;
			}